@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Roboto-light';
    src: url('/public/fonts/Roboto-Light.ttf');
  }
  
  @font-face {
    font-family: 'Roboto-bold';
    src: url('/public/fonts/Roboto-Bold.ttf');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  html {
    height: auto;
  }
  
  .light {
    font-family: Roboto-light;
  }
  
  .bold {
    font-family: Roboto-bold;
  }
  
  .container {
    margin: auto;
  }
  
  @media (min-width: 640px) {
    .container {
      width: 600px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }
  
  @media (min-width: 1600px) {
    .container {
      width: 1550px;
    }
  }
  
  main {
    /* padding: 10px 0; */
  }
  
  body {
    font-family: sans-serif;
  }
  
  a,
  button,
  input,
  textarea {
    background-color: unset;
    font: inherit;
    border: none;
    outline: none;
  }
  
  input:invalid,
  textarea:invalid {
    box-shadow: none;
  }
  
  a::-moz-focus-inner,
  button::-moz-focus-inner,
  input::-moz-focus-inner,
  textarea::-moz-focus-inner,
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    /* border: none; */
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    background-color: transparent;
  }
  
  ul {
    list-style-type: none;
  }
  
  .text-center {
    text-align: center;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .dir-col {
    flex-direction: column;
  }
  
  .dir-col-rev {
    flex-direction: column-reverse;
  }
  
  .dir-row-rev {
    flex-direction: row-reverse;
  }
  
  .dir-row {
    flex-direction: row;
  }
  
  .align-start {
    justify-content: flex-start;
  }
  
  .align-end {
    justify-content: flex-end;
  }
  
  .align-center {
    justify-content: center;
  }
  
  .align-between {
    justify-content: space-between;
  }
  
  .align-around {
    justify-content: space-around;
  }
  
  .valign-start {
    align-items: flex-start;
  }
  
  .valign-end {
    align-items: flex-end;
  }
  
  .valign-center {
    align-items: center;
  }
  
  .full-w {
    width: 100%;
  }